textarea,body,html {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
}

.notes-container {
  height: 100vh;
  background-color: #000;
  box-sizing: border-box;
}

.dateAtTop {
  text-align: center;
  padding: 0.8rem 0 0.15rem 0;
  color: gray;
  font-size: 1.25rem;
}

.notes-textarea {
  width: 100%;
  height: 100vh;
  color: #fff;
  caret-color: #e8bf44;
  margin: 0 1rem;
  font-weight: 700;
  font-size: 2.13rem;
  resize: none;
  padding: 0.24rem 0.4rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  line-height: 122%;
  --webkit-scrollbar: hidden;
}

.textAreaContainer {
  display: flex;
  justify-content: center;
}

.textAreaSimpleBorder {
  background-image: linear-gradient(to bottom, transparent, transparent calc(2.25rem - 0.15rem), lightgray calc(2.25rem - 0.15rem)) !important;
  background-size: 100% 2rem !important;
  border: 1px solid #ccc !important;
}

.textAreaSimpleLines {
  background-image: repeating-linear-gradient(to bottom, lightgray 0px, lightgray 0px, transparent 1px, transparent 2.6rem) !important;
  background-size: 100% 2.6rem !important;
}


.notes-textarea::placeholder {
  color: #555;
  opacity: 1; 
}

 /* Hiding doneText by default */
.doneText {
  font-size: 1.65rem;
  font-weight: 700;
  margin-top: 5.25px;
  color: #e8bf44;
  display: none;
}

.undoButton {
  transform: scaleY(-1);
  position: relative;
  margin-top: 0.2rem;
  color: #e8bf44;
  font-size: 1.35rem;
  padding: 0.1rem 0.25rem;
  border: 2px solid #e8bf44;
  border-radius: 50%;
  transition: 0.15s ease;
  display: inline-block;
  width: max-content;
  background-color: #000;
}

.redoButton {
  background-color: #000;
  transform: scaleY(-1);
  position: relative;
  color: #e8bf44;
  font-size: 1.35rem;
  border: 2px solid #e8bf44;
  border-radius: 50%;
  transition: 0.15s ease;
  display: inline-block;
  padding-bottom: 0.1rem;
  width: max-content;
}

.undoButton:active, .redoButton:active {
  color: #977b26;
  border: 2px solid #977b26;
}

.undoButton:hover, .redoButton:hover {
  color: #977b26;
  border: 2px solid #977b26;
}

.hoverCursor {
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 3.4rem;
  margin-bottom: 1rem;
}

.notesTopLeft {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.backButtonTop {
  transform: rotate(90deg) scale(1.75);
  color: #e8bf44;
  background: none;
  font-weight: 900;
  display: inline-block;
  margin-right: 0.1rem;
}

.notesTextBackButtonTop {
  color: #e8bf44;
  padding: 5.25px;
  font-size: 1.6rem;
}

.rightButtons {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 15px;
}

.noteSettingIcon {
  align-items: center;
  margin-top: 0.4rem;
  background-color: #000;
  color: #e8bf44;
  border: none;
}

.undoAndRedo-container {
  display: inline-flex;
  margin-top: 0.55rem;
  justify-content: center;
  align-items: center;
  border: 2px solid #e8bf44;
  border-radius: 50%;
  padding: 5.25px;
}

.undoAndRedo {
  font-size: 1.4rem;
  color: #e8bf44;
}

.undoAndRedo:hover, .undoAndRedo:active {
  font-size: 1.4rem;
  color: #977b26;
  border-color: #977b26;
  background: none;
}

/* Overwriting default bootstrap behavior */
.dropdown-toggle:active, .dropdown-toggle:hover {
  color: #977b26 !important;
  background: none !important;
}

.dropdown-toggle, .btn, .btn-primary {
  background: none !important;
  color: #e8bf44 !important;
}

.dropdown-toggle::after {
  display:none;
}

/* End bootstrap override

