textarea,body,html {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000;
}

.notes-container {
  height: 100vh;
  background-color: #000;
  box-sizing: border-box;
}

.dateAtTop {
  text-align: center;
  padding: 0.8rem 0 0.15rem 0;
  color: gray;
  font-size: 1.25rem;
}

.notes-textarea {
  width: 100%;
  height: 100vh;
  color: #fff;
  caret-color: #e8bf44;
  margin: 0 1rem;
  font-weight: 700;
  font-size: 2.13rem;
  resize: none;
  padding: 0.24rem 0.4rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  line-height: 122%;
  --webkit-scrollbar: hidden;
}

.textAreaContainer {
  display: flex;
  justify-content: center;
}

.textAreaSimpleBorder {
  background-image: linear-gradient(to bottom, transparent, transparent calc(2.25rem - 0.15rem), lightgray calc(2.25rem - 0.15rem)) !important;
  background-size: 100% 2rem !important;
  border: 1px solid #ccc !important;
}

.textAreaSimpleLines {
  background-image: repeating-linear-gradient(to bottom, lightgray 0px, lightgray 0px, transparent 1px, transparent 2.6rem) !important;
  background-size: 100% 2.6rem !important;
}


.notes-textarea::placeholder {
  color: #555;
  opacity: 1; 
}

 /* Hiding doneText by default */
.doneText {
  font-size: 1.65rem;
  font-weight: 700;
  color: #e8bf44;
  display: none;
}

.hoverCursor {
  cursor: pointer;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.45rem 1.25rem 0.15rem 1.25rem;
}

.notesTopLeft {
  display: flex;
  align-items: center;
}

.backButtonTop {
  transform: rotate(90deg) scale(1.75);
  color: #e8bf44;
  background: none;
  font-weight: 900;
  display: inline-block;
}

.notesTextBackButtonTop {
  color: #e8bf44;
  align-items: center;
  vertical-align: center;
  font-size: 1.6rem;
}

.rightButtons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.noteSettingIcon {
  align-items: center;
  background-color: #000;
  color: #e8bf44;
  border: none;
}

.undoAndRedo-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e8bf44;
  padding: 5px;
  border-radius: 50%;
}

.undoAndRedo {
  font-size: 1.4rem;
  color: #e8bf44;
}

.undoAndRedo:hover, .undoAndRedo:active {
  font-size: 1.4rem;
  color: #977b26;
  border-color: #977b26;
  background: none;
}

/* Overwriting default bootstrap behavior */
.dropdown-toggle:active, .dropdown-toggle:hover {
  color: #977b26 !important;
  background: none !important;
}

.dropdown-toggle, .btn, .btn-primary {
  background: none !important;
  color: #e8bf44 !important;
}

#dropdown-basic {
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-toggle::after {
  display:none;
}
/* End bootstrap override */

.notesListContainer {
  text-align: left;
  padding: 1.35rem 1rem 1rem;
}

.searchInputNotesList {
  background-color: #353535;
  color: #FFF;
  min-width: 100%;
  border-radius: 6px;
  border: none;
  font-size: 1.3rem;
  padding: 4px 2.5rem;
}

.searchInputNotesList::placeholder {
  color: #98989f;
}

.searchContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 10px; /* Adjust as needed */
  pointer-events: none; /* Makes the icon not interactable */
}


h1.notesListH1 {
  color: #FFF;
  font-size: 2.35rem;
  font-weight: 700;
}

.notesListFooter {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.161);
  box-shadow: 0 8px 16px 0 rgba(153, 153, 153, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 1rem;
}


.notesListCountText {
  flex: 1;
  text-align: center;
  color: #FFF;
}

.newNoteButton {
  color: #e8bf44;
}
.newNoteButton:hover, .newNoteButton:active {
  color: #977b26;
}

.existingNote {
  color: #FFF;
  
}